# IBM Cloud API Key - Required for authentication
IBM_CLOUD_API_KEY=your-api-key

# Service URLs for model info
IBM_CLOUD_MODELS_URL=https://eu-gb.ml.cloud.ibm.com

# Following URLs are not in use but good for reference:
# IBM_CLOUD_NLU_URL=https://api.eu-gb.natural-language-understanding.watson.cloud.ibm.com
# IBM_CLOUD_TEXT_TO_SPEECH_URL=https://api.eu-gb.text-to-speech.watson.cloud.ibm.com
# IBM_CLOUD_SPEECH_TO_TEXT_URL=https://api.eu-gb.speech-to-text.watson.cloud.ibm.com

# IAM token URL
IAM_TOKEN_URL = "https://iam.cloud.ibm.com/identity/token"

# IBM Cloud Resource URL
IBM_CLOUD_RESOURCE_URL = "https://resource-controller.cloud.ibm.com/v2/resource_instances"

# User Watson Studio projects URL
IBM_CLOUD_PROJECTS_URL=https://api.eu-gb.dataplatform.cloud.ibm.com

# Other regions:
# Dallas region URLs (default)
# IBM_CLOUD_MODELS_URL=https://us-south.ml.cloud.ibm.com
# IBM_CLOUD_PROJECTS_URL=https://api.us-south.dataplatform.cloud.ibm.com

# Other regions:
# Frankfurt:
# IBM_CLOUD_MODELS_URL=https://eu-de.ml.cloud.ibm.com
# IBM_CLOUD_PROJECTS_URL=https://api.eu-de.dataplatform.cloud.ibm.com

# Tokyo:
# IBM_CLOUD_MODELS_URL=https://jp-tok.ml.cloud.ibm.com
# IBM_CLOUD_PROJECTS_URL=https://api.jp-tok.dataplatform.cloud.ibm.com

# London:
# IBM_CLOUD_MODELS_URL=https://eu-gb.ml.cloud.ibm.com
# IBM_CLOUD_PROJECTS_URL=https://api.eu-gb.dataplatform.cloud.ibm.com

# Sydney:
# IBM_CLOUD_MODELS_URL=https://au-syd.ml.cloud.ibm.com
# IBM_CLOUD_PROJECTS_URL=https://api.au-syd.dataplatform.cloud.ibm.com 